.container {
    display: flex;
    background-color: blue;
    opacity: 0.9;
    color: white;
    position: relative;
    @media only screen and (max-width: 380px) {
        display: block;
    }
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    @media only screen and (max-width: 380px) {
        padding: 15px;
    }
}

.desc {
    margin: 20px 0px;
}

.socialContainer {
    display: flex;
}

.socialIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    @media only screen and (max-width: 380px) {
        width: 30px;
        height: 30px;
    }
}

.center {
    flex: 1;
    padding: 20px;
    @media only screen and (max-width: 380px) {
        padding: 15px;
    }
}

.title {
    margin-bottom: 30px;
    color: #000;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.listItem {
    width: 50%;
    margin-bottom: 10px;
}

.right {
    flex: 1;
    padding: 20px;
    @media only screen and (max-width: 380px) {
        padding: 15px;
    }
}

.contactItem {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    @media only screen and (max-width: 380px) {
        margin-bottom: 15px;
    }
}